@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: "Bebas Neue", sans-serif;
    background-color: #bc6c25;
    color: #faedcd;
    margin: 0;
    overflow-x: hidden;
}

.container{
    background-color: #780000;
    transform-origin: top left;
    transition: transform 0.5s linear;
    width: 100vw;
    min-height: 100vh;
    padding: 50px;
}

.container.show-nav {
    transform: rotate(-20deg);
}

.circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
}

.circle {
    background-color: #ff9500;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;
}

.circle button{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background-color: transparent;
    color: wheat;
    border: none;
    font-size: 26px;
}

.circle button:focus {
    outline: none;
}

.circle button#open {
    left: 60%;
}

.circle button#close {
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;

}

.container.show-nav .circle{
    transform: rotate(-70deg);
}

.content{
    max-width: 1000px;
    margin: 50px auto;
}

.content h1{
    margin: 0;
}

.container small{
    color: black;
    font-style: italic;
}

.content p{
    line-height: 1.5;
}

.content img{
    max-width: 100%;
}

nav {
    position: fixed;
    bottom: 35%;
    left: 0;
    z-index: 100;
}

nav ul {
    list-style: none;
    padding-left: 30px;
}

nav ul li{
    text-transform: uppercase;
    color: white;
    margin: 40px 5px;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;
}

nav ul li+li{
    margin-left: 15px;
    transform: translateX(-150%);
}

nav ul li+li+li{
    margin-left:30px;
    transform: translateX(-200%);
}

.container.show-nav + nav li{
    transform: translateX(0);
    transition-delay: 0.3s;
}